# -----------------------------
# YottaDB runtime files
# -----------------------------
_ZTM*
*.mje
*.mjo
*.o

# -----------------------------
# Generated directories
# -----------------------------
logs/*
!logs/.gitkeep

reports/*
!reports/.gitkeep

snapshots/*
!snapshots/.gitkeep

# -----------------------------
# Temporary files
# -----------------------------
*.work
